<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Details</title>
</head>
<body>
    <h1>user details</h1>
    <ul>
        <% user.forEach(element => { %>
            <li><%= element.first_name %>  <%= element.last_name %></li>
            <li><%= element.email %></li>
            <li><%= element.mobile %></li>
            <hr>
        <% }) %>
    </ul>
    
</body>
</html>